*{
    margin: 0;
    box-sizing: border-box;
}

main{
    margin-left:5px
}

#logo {
height: 100px;
width: 100%;
background-image: url(./img/pattern.png);
background-color: rgb(3, 153, 240);
background-size: contain;
position: relative;
margin-bottom:10px;
margin-left:0px;
}

.img-logo{
    width: 200px;
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.int, .data{
    font-weight: bold;
    color: grey;
    font-size: 13px;
}

.data{
    font-size: 10px;
    margin-bottom: 15px;
    font-weight: bold;
}

.foto{
    font-size: 10px;
    font-style: italic;
}

.booleaner{
    color: rgb(0, 183, 255);
}

.evidenziato{
    background-color: yellow;
}

.primo{
    margin-top: 20px;
    margin-bottom:20px;
}

ul{
    padding-left:15px;
}

table{
    border-spacing: 0;
}

.table{
    margin-top: 40px;
    margin-bottom: 30px;
}

thead{
    background-color: rgb(49, 106, 228);
    height: 20px;
}

.riga0 {
    
}

.riga1, .riga3{
    background-color: aqua;
}

.colonna1, .colonna2, .colonna3{
    text-align: left;
    width: 300px;
}


.colonna3{
    width: 600px;
}